/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


nav ul a,
nav .brand-logo {
    color: white;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: white;
}

#top-header {
    min-height: 35em;
}

.parallax-container {
    min-height: 25em;
    height: auto;
}
.parallax-container .section {
    width: 100%;
}

.icon-block .material-icons {
    font-size: 1.5em;
}

footer.page-footer {
    margin: 0;
}

textarea:focus {
    border-bottom: 1px solid #e57373;
    -webkit-box-shadow: 0 1px 0 0 #e57373;
    -moz-box-shadow: 0 1px 0 0 #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}


/* label focus color */
.input-field input[type]:focus + label {
    color: #e57373;
}

/* label underline focus color */
.input-field input[type]:focus {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}

textarea.materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #e57373;
     box-shadow: 0 1px 0 0 #e57373;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #e57373;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

